export DB_NAME="openidea-shopifyx"
export DB_PORT="5432"
export DB_HOST="localhost"
export DB_USERNAME="postgres"
export DB_PASSWORD="postgres"

export PROMETHEUS_ADDRESS=

export JWT_SECRET=
export BCRYPT_SALT=

export ENABLE_S3=false

export S3_ID=
export S3_SECRET_KEY=
export S3_BASE_URL=
