export DB_NAME="openidea-shopifyx"
export DB_PORT="5432"
export DB_HOST="localhost"
export DB_USERNAME="postgres"
export DB_PASSWORD="postgres"
export DB_CONN_URL="postgres://postgres:postgres@localhost:5432/openidea-shopifyx?sslmode=disable"
export DB_MAX_OPEN_CONNECTION="100"
export DB_MAX_IDLE_CONNECTION="80"

export APP_PORT="8000"

export PROMETHEUS_ADDRESS=

export JWT_SECRET="VEhJU0lTQVRFU1Q="
export BCRYPT_SALT=10

export S3_ENABLED=false

export S3_ID=
export S3_SECRET_KEY=
export S3_BASE_URL=
